<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>

<h1 th:text="${title}"></h1>

<div th:if="${users.isEmpty()}">
    No tiene elementos de usuario
</div>

<table>
    <thead>
        <tr>
            <th>name</th>
            <th>lastname</th>
            <th>email</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="user : ${users}"><!-- lista de usuario -->
            <td th:text="${user.name}"></td><!-- campos de usuario a mostrar -->
            <td th:text="${user.lastname}"></td>
            <td th:text="${user.email}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>
 